/**************** body and tag styles ****************/
	body {
	  margin-top: 0px;	  
	  margin-bottom: 30px;
	  }

	#container {
	  /*width: 750px;*/
	  width: 85%;
	  margin: 0 auto;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 14px;
	  line-height: 1.6em;
	  color: #666666;
	  background-color: #FFFFFF;
	  }
	  
	#container2 {
	  /*width: 746px;*/
	  width: 69%;
	  margin: 0 auto;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 100%;/*11px;*/
	  line-height: 1.6em;
	  color: #666666;
	  background-color: #FFFFFF;
	  border-bottom: 2px solid #2763A5;
	  }
		
	h1 {
	  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	  font-weight: normal;
	  font-size: 300%;/*32px;*/
	  color: #6DA6E2;
	  margin-bottom: 30px;
	  background-color: #FFFFFF;
	  }
		
	h2 {
	  color: #666666;
	  font-size: 180%;/*18px;*/
	  font-family: Arial, Helvetica, sans-serif;
	  background-color: #FFFFFF;
	  }
		
	a {
	  color: #6DA6E2;
	  background-color: #FFFFFF;
	  text-decoration: none;
	  font-weight: bold;
	  }

	a:hover {
	  background-color: #FFFFFF;
	  color: inherit;
	  font-weight: bold;
	  text-decoration: underline;
	  }

/**************** images styles ****************/		
	a img{
	  border: none;
	  }

	img.left,img.center,img.right {
	  padding: 4px;
	  border: 1px solid #a0a0a0;
	  }

	img.left {
	  float: left;
	  margin: 0 12px 5px 0;
	  }

	img.center {
	  display: block;
	  margin: 0 auto 5px auto;
	  }

	img.right {
	  float: right;
	  margin: 0 0 5px 12px;
	  }

/**************** form styles ****************/
	form {
	  float:right;
	  font-size: 11px;
	  }
		
	input {
	  background-color: #FFFFFF;
	  color: #999999;
	  border: 1px solid #2763A5;
	  font-size: 12px;
	  padding: 3px;
	  }
		
	.button {
	  padding: 2px;
	  background-color: #6DA6E2;
	  color: #FFFFFF;
	  border: 1px solid #2763A5;
	  font-size: 11px;
	  }

/**************** header styles ****************/
	#header {
	  /*width: 750px;*/
	  width: 85%;
	  border: 0px;
	  padding-bottom: 10px;
	  padding-top: 10px;
	  clear: both;
	  }
	#header p { 
	  margin-top: -20px;
	  margin-left: 30px;
	  color: #999999;
	  }

/**************** menu styles ****************/
    #menu {
      float:left;
      /*width:750px;*/
	  width:90%;
      font-size:140%;
	  padding-bottom: 1px;
	  border-bottom:4px solid #2763A5;
      line-height:normal;
      }
    #menu ul {
	  margin:0;
	  padding:10px 10px 0 50px;
	  list-style:none;
      }
    #menu li {
      display:inline;
      margin:0;
      padding:0;
      }
    #menu a {
      float:left;
      background:url("tableft10.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #menu a span {
      float:left;
      display:block;
      background:url("tabright10.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    #menu a span {
	  float:none;
	  }
    #menu a:hover {
      background-position:0% -42px;
      }
    #menu a:hover span {
      background-position:100% -42px;
      }

/**************** content styles ****************/
	#content {
	  /*width: 520px;*/
	  min-width: 75%;
	  max-width: 80%;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-top: 10px;
	  float: left;
	  }
		
	#content p {
	  padding-bottom: 10px;
	  /*border-bottom: 1px solid #DDDDDD;*/
	  }
	#content p.pub-paragraph {
		display :flex;
		flex-wrap:wrap;
		padding-bottom: 10px;
	}
	#content dd.pub-paragraph {
		display :flex;
		flex-wrap:wrap;
		padding-bottom: 10px;
		padding-left:0em;
	}
	#content dt.pub {
		color:brown;
		width: 4em;
		float:left;
		margin:0em;
	}

	#content span.pub {
		color:brown;
		/*font-weight: bold;*/
	  }	
	#content span.bib {
		white-space:pre-line;
	  }
	#content span.pub-title {
		padding-left:0em;
		color: #000000;
		font-weight: bold;
		order:1;
	}
	#content span.pub-authors {
		padding-left:0.5em;
		width :100%;
		/*white-space:pre-line;*/
		color: #000000;
		order:2;
	  }
	#content span.pub-details {
		padding-left:0.5em;
		/*white-space:pre-line;*/
		color: #000000;
		order:3;
	  }
	#content span.pub-links {
		padding-left:0.5em;
		width :100%;
		/*white-space:pre-line;*/
		color: #000000;
		order:4;
	  }
	#content span.pub-links::before {
	content:"[ ";
	}
	#content span.pub-links::after{
		content: "]";
	}

	#content em {
	    	font-style: italic;
		color: #000000;
	  }
	  /**************** news styles ****************/

	#content dt{
		color:brown;
		width: 10em;
		float:left;
		margin:0em;
	}
	#content dd{
		margin-bottom:1em;
		padding-left:6em;
	}
/**************** sidebar styles ****************/
	#sidebar {
	  /*width: 175px;*/
	  display: inline-block;
	  max-width:90%;
	  padding-left: 21px;
	  padding-right: 10px;
	  /*padding-top: 10px;*/
	  float: left;
	  }
		
	#sidebar p {
	  padding-bottom: 5px;
	  border-bottom: 1px solid #DDDDDD;
	  }
	  
	/**************** footer styles ****************/
	#footer {
	  margin-top: 15px;
	  padding-top: 0px;
	  padding-bottom: 0px;
	  padding-left: 2px;
	  padding-right: 2px;
	  clear: both;
	  /*width: 742px;*/
	  width: 90%;
	  background-color:#2763A5;
	  color: #FFFFFF;
	  }
		
	#footer p {
	  color:#FFFFFF;
	  padding: 5px;
	  text-align: center;
	  }
		
	#footer a {
	  color: #FFFFFF;
	  background-color:#2763A5;
	  font-weight:100;
	  border-bottom: 1px dotted #FFFFFF;
	  }
		
	#footer a:hover {
	  color: #FFFFFF;
	  text-decoration: none;
	  border-top: 1px dotted #FFFFFF;
	  border-bottom: 0px dotted #FFFFFF;
	  }